<?xml version="1.0"?>
<launch>
  <arg name="enemy_level" default="1"/>

<!-- Your robot control node run  red side-->
<group ns="enemy_bot">
  <include file="$(find burger_war_level6)/launch/your_burger.launch">
    <arg name="robot_namespace" value="enemy_bot" />
    <arg name="side" value="b" />
  </include>
</group>

</launch>

