<?xml version="1.0"?>

<model>
  <name>corner_box</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>ikeuchi</name>
    <email>ikeuchi.hiroki@jp.panasonic.com</email>
  </author>

  <description>
    burger_war disc
  </description>
</model>
